<!DOCTYPE html>
<html>
<head>
	<title>The Website</title>
</head>
<body ng-app="">	
	{{{body}}}
</body>

<script src='/lib/angular/angular.js'></script>
<script src='/application.js'></script>
</html>